.git
.github
.venv
venv
.pytest_cache
.restore_points
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
.DS_Store
.idea
.vscode
.env
.env.*
node_modules
staticfiles
logs
media
django_server.log
*.log
*.dump
*.sql
*.tar.gz
REPORTE_PLANTILLA_*.csv
