DJANGO_ENV=development
DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,192.168.184.175,admins-macbook-pro.local
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8080,http://127.0.0.1:8000,http://192.168.184.175:8080,http://192.168.184.175:8000
DJANGO_CORS_ALLOWED_ORIGINS=

POSTGRES_DB=cejei_licencias
POSTGRES_USER=cejei
POSTGRES_PASSWORD=change-this-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
WORKER_NAME=docker-worker
WORKER_RUN_LIMIT=50
WORKER_SCHEDULE_LIMIT=100
WORKER_SLEEP_SECONDS=5

GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120

NGINX_PORT=8080
NGINX_PORT_LEGACY=8000

# Producción mínima
# DJANGO_ENV=production
# DJANGO_DEBUG=false
# DJANGO_SECRET_KEY=<clave-larga-y-unica>
# DJANGO_ALLOWED_HOSTS=<dominio1,dominio2>
# DJANGO_CSRF_TRUSTED_ORIGINS=https://<dominio1>,https://<dominio2>
